In [1]:
# 6.5.2: Create Heatmaps for Weather Parameters

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chifeng,CN,2021-07-20 04:48:37,42.2683,118.9636,88.07,49,4,10.98
1,1,Margate,GB,2021-07-20 04:48:37,51.3813,1.3862,65.30,95,21,7.63
2,2,Cap Malheureux,MU,2021-07-20 04:48:38,-19.9842,57.6142,73.47,57,0,8.99
3,3,Kruisfontein,ZA,2021-07-20 04:48:38,-34.0033,24.7314,55.89,84,100,7.27
4,4,Barrow,US,2021-07-20 04:48:38,71.2906,-156.7887,46.42,87,90,6.91

In [4]:
#get data types 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Create a Maximum Temperature Heatmap: Syntax as follows

# 1. Assign the locations to an array of latitude and longitude pairs.
    # locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
    # temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
    # fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
    # heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
    # fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
    # fig

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Adjust Heatmap Zoom, Intensity, and Point Radius
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a Percent Humidity Heatmap

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#6.5.3: Get Vacation Criteria

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chifeng,CN,2021-07-20 04:48:37,42.2683,118.9636,88.07,49,4,10.98
8,8,Vaini,TO,2021-07-20 04:48:39,-21.2000,-175.2000,77.16,94,20,5.75
13,13,Fairbanks,US,2021-07-20 04:44:42,64.8378,-147.7164,82.36,40,1,0.00
14,14,Cayenne,GF,2021-07-20 04:44:52,4.9333,-52.3333,77.09,90,0,0.00
15,15,Dingle,PH,2021-07-20 04:48:41,10.9995,122.6711,87.22,66,100,14.14
16,16,Westport,US,2021-07-20 04:48:41,41.1415,-73.3579,75.18,91,40,1.99
17,17,Bartica,GY,2021-07-20 04:48:41,6.4000,-58.6167,75.52,99,48,1.36
21,21,Komsomolskiy,UZ,2021-07-20 04:48:43,40.4272,71.7189,87.22,34,49,2.30
25,25,Nemuro,JP,2021-07-20 04:45:34,43.3236,145.5750,86.43,94,92,7.16
30,30,Adeje,ES,2021-07-20 04:48:44,28.1227,-16.7260,75.22,49,0,6.91

In [26]:
preferred_cities_df.count()

City_ID       215
City          215
Country       215
Date          215
Lat           215
Lng           215
Max Temp      215
Humidity      215
Cloudiness    215
Wind Speed    215
dtype: int64

In [27]:
# 6.5.4: Map Vacation Criteria

In [28]:
# Get Travel Destinations

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Chifeng      CN     88.07  42.2683  118.9636
8          Vaini      TO     77.16 -21.2000 -175.2000
13     Fairbanks      US     82.36  64.8378 -147.7164
14       Cayenne      GF     77.09   4.9333  -52.3333
15        Dingle      PH     87.22  10.9995  122.6711
16      Westport      US     75.18  41.1415  -73.3579
17       Bartica      GY     75.52   6.4000  -58.6167
21  Komsomolskiy      UZ     87.22  40.4272   71.7189
25        Nemuro      JP     86.43  43.3236  145.5750
30         Adeje      ES     75.22  28.1227  -16.7260

In [33]:
# Retrieve Hotels from a Nearby Search

# Set the Parameters for a Nearby Search
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Chifeng,CN,88.07,42.2683,118.9636,Junyu Tiancheng Hotel
8,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
13,Fairbanks,US,82.36,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
14,Cayenne,GF,77.09,4.9333,-52.3333,Hôtel Le Dronmi
15,Dingle,PH,87.22,10.9995,122.6711,SEGAYA PROPERTY
16,Westport,US,75.18,41.1415,-73.3579,The Westport Inn
17,Bartica,GY,75.52,6.4000,-58.6167,Sloth Island Nature Resort
21,Komsomolskiy,UZ,87.22,40.4272,71.7189,Ikathouse
25,Nemuro,JP,86.43,43.3236,145.5750,Hotel Nemuro Kaiyoutei
30,Adeje,ES,75.22,28.1227,-16.7260,Gran Tacande Wellness & Relax

In [38]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))