## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Noumea,NC,-22.2763,166.4572,75.18,99,0,9.71,clear sky
1,1,Capinopolis,BR,-18.6819,-49.5697,73.62,26,8,4.03,clear sky
2,2,Khatanga,RU,71.9667,102.5000,53.82,92,100,2.08,overcast clouds
3,3,Kavieng,PG,-2.5744,150.7967,82.56,77,98,8.05,light rain
4,4,Port Hedland,AU,-20.3167,118.5667,62.65,100,26,3.44,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter minimum temperature for your preferred Destination?"))
max_temp = float(input("Enter maximum temperature for your preferred Destination?"))

Enter minimum temperature for your preferred Destination?60
Enter maximum temperature for your preferred Destination?90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_cities_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
#clean_cities_df.info()

In [6]:
# 4a. Determine if there are any empty rows.
clean_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df=clean_cities_df.dropna()
clean_df.count()

City_ID                501
City                   501
Country                501
Lat                    501
Lng                    501
Max Temp               501
Humidity               501
Cloudiness             501
Wind Speed             501
Current Description    501
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Noumea,NC,75.18,clear sky,-22.2763,166.4572,
1,Capinopolis,BR,73.62,clear sky,-18.6819,-49.5697,
3,Kavieng,PG,82.56,light rain,-2.5744,150.7967,
4,Port Hedland,AU,62.65,scattered clouds,-20.3167,118.5667,
7,Atuona,PF,77.59,broken clouds,-9.8000,-139.0333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna(subset=["Hotel Name"],how='any')
#clean_hotel_df=hotel_df.dropna(axis='index',subset=["Hotel Name"],how='any')
#clean_hotel_df=hotel_df.dropna(axis='index', how='all',subset=['Hotel Name'])
clean_hotel_df.count()

#Trying multiple ways to find out the null value in Column'Hotel Name' but Failing miserably.

City                   501
Country                501
Max Temp               501
Current Description    501
Lat                    501
Lng                    501
Hotel Name             501
dtype: int64

In [19]:
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Noumea,NC,75.18,clear sky,-22.2763,166.4572,HÃ´tel Le Lagon
1,Capinopolis,BR,73.62,clear sky,-18.6819,-49.5697,Tropical Hotel
3,Kavieng,PG,82.56,light rain,-2.5744,150.7967,Nusa Island Retreat
4,Port Hedland,AU,62.65,scattered clouds,-20.3167,118.5667,The Esplanade Hotel
7,Atuona,PF,77.59,broken clouds,-9.8000,-139.0333,Villa Enata
8,Lishu,CN,78.87,clear sky,43.3047,124.3278,Yuzhen Hotel
11,San Carlos,VE,76.96,broken clouds,9.6612,-68.5827,Hotel Paternopoli
12,Gijon,ES,66.99,scattered clouds,43.5357,-5.6615,Miramar
13,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Bethel,US,78.73,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
17,Vanavara,RU,61.12,overcast clouds,60.3400,102.2797,
19,Manggar,ID,81.36,overcast clouds,-2.8833,108.2667,Guest Hotel
20,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
22,Rikitea,PF,72.95,few clouds,-23.1203,-134.9692,People ThankYou
25,Sorong,ID,78.01,overcast clouds,-0.8833,131.2500,waigo splash hotel
26,Grand Gaube,MU,71.91,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
27,Touros,BR,76.10,clear sky,-5.1989,-35.4608,INN NEW HORIZON
29,Hithadhoo,MV,81.84,overcast clouds,-0.6000,73.0833,Scoop Guest House
30,Port Hawkesbury,CA,68.92,overcast clouds,45.6169,-61.3485,MacKenzie House Tourist Home B&B
31,Mahebourg,MU,70.45,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [12]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
#Current_Weather = clean_hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))