## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
vacation_df.count()

City_ID                501
City                   501
Country                501
Max Temp               501
Current Description    501
Lat                    501
Lng                    501
Hotel Name             450
dtype: int64

In [3]:
clean_vacation_df=vacation_df.dropna()
clean_vacation_df.count()

City_ID                450
City                   450
Country                450
Max Temp               450
Current Description    450
Lat                    450
Lng                    450
Hotel Name             450
dtype: int64

In [4]:
clean_vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Noumea,NC,75.18,clear sky,-22.2763,166.4572,Hôtel Le Lagon
1,1,Capinopolis,BR,73.62,clear sky,-18.6819,-49.5697,Tropical Hotel
2,3,Kavieng,PG,82.56,light rain,-2.5744,150.7967,Nusa Island Retreat
3,4,Port Hedland,AU,62.65,scattered clouds,-20.3167,118.5667,The Esplanade Hotel
4,7,Atuona,PF,77.59,broken clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...,...
494,696,Akalkot,IN,71.49,very heavy rain,17.5333,76.2167,Hotel Vikas
495,697,Sagua La Grande,CU,88.79,few clouds,22.8067,-80.0756,Hotel Telégrafo
497,699,Bontang,ID,75.52,overcast clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
499,701,Hirara,JP,84.47,moderate rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
500,703,Ilebo,CD,73.94,few clouds,-4.3167,20.5833,Hôtel BUMAK

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
#Current_Weather = clean_hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] =="Orizona" )]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Orizona")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] =="Vila Velha")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Arraial Do Cabo")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] =="Ilhabela")]

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# Coord for Start Loc
start = vacation_start["Lat"].to_numpy()[0],\
        vacation_start["Lng"].to_numpy()[0] 
# Coord for End Loc
end = vacation_end["Lat"].to_numpy()[0],\
      vacation_end["Lng"].to_numpy()[0] 
# Coord for Stop 1 Loc
stop1 = vacation_stop1["Lat"].to_numpy()[0],\
        vacation_stop1["Lng"].to_numpy()[0],
# Coord for Stop 2 Loc
stop2 = vacation_stop2["Lat"].to_numpy()[0],\
        vacation_stop2["Lng"].to_numpy()[0],
# Coord for Stop 3 Loc
stop3 = vacation_stop3["Lat"].to_numpy()[0],\
        vacation_stop3["Lng"].to_numpy()[0],

print(f'Start:{start},Stop1:{stop1}, Stop 2:{stop2}, Stop3:{stop3}, End:{end}')

Start:(-17.0314, -48.2958),Stop1:(-20.3297, -40.2925), Stop 2:(-22.9661, -42.0278), Stop3:(-23.7781, -45.3581), End:(-17.0314, -48.2958)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

fig = gmaps.figure()
travel_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
#travel_itinerary = gmaps.directions_layer(
        #start, end, waypoints=[stop1, stop2, stop3])
fig.add_layer(travel_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,456,Orizona,BR,73.06,broken clouds,-17.0314,-48.2958,Hotel Carvalhos
1,456,Orizona,BR,73.06,broken clouds,-17.0314,-48.2958,Hotel Carvalhos
2,438,Vila Velha,BR,66.15,broken clouds,-20.3297,-40.2925,Quality Suites Vila Velha
3,225,Arraial Do Cabo,BR,64.26,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,545,Ilhabela,BR,60.69,scattered clouds,-23.7781,-45.3581,Ilha Flat Hotel

In [13]:
# Reordering the dataframe
new_column_data=["Hotel Name", "City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]     
itinerary_df=itinerary_df[new_column_data]
itinerary_df

,Hotel Name,City,Country,Max Temp,Lat,Lng,Current Description
0,Hotel Carvalhos,Orizona,BR,73.06,-17.0314,-48.2958,broken clouds
1,Hotel Carvalhos,Orizona,BR,73.06,-17.0314,-48.2958,broken clouds
2,Quality Suites Vila Velha,Vila Velha,BR,66.15,-20.3297,-40.2925,broken clouds
3,Pousada Porto Praia,Arraial Do Cabo,BR,64.26,-22.9661,-42.0278,clear sky
4,Ilha Flat Hotel,Ilhabela,BR,60.69,-23.7781,-45.3581,scattered clouds

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))